{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Projet {{ team.name }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><i class="fa fa-users"></i> Détail du projet</h1>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ team.name }}</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Id : {{ team.id }}</li>
            {% for student in team.students %}
                <li class="list-group-item">
                    <img class="rounded-avatar" src="{{ asset(student.image) }}" />
                    <a href="{{ path('student_detail', {studentId: student.id}) }}">
                        {{ student.firstname }} {{ student.lastname }}
                    </a>
                </li>
            {% else %}
                <li class="list-group-item">Aucun étudiants. 😦</li>
            {% endfor %}
        </ul>
        <div class="card-body">
            <a href="{{ team.githubRepository }}" class="card-link"><i class="fa fa-github"></i> voir sur github — {{ team.githubRepository }}</a>
        </div>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nombre de commits : {{ github_stats.commits }}</li>
            <li class="list-group-item">Nombre de lignes ajoutées : {{ github_stats.additions }}</li>
            <li class="list-group-item">Nombre de lignes supprimées : {{ github_stats.deletions }}</li>
        </ul>
    </div>
    
    <hr>
    <h2>Liste des avis</h2>
    {% for review in team.reviews %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ review.user.email }} a noté {{ review.rating }} / 5</h4>
            </div>
            {% if review.comment %}
                <div class="card-body">
                    <blockquote class="blockquote">
                      <p class="mb-0">{{ review.comment }}</p>
                    </blockquote>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
    <hr>
    
    {% if review_form %}
        <h2>Ajouter une note</h2>
    
        {% form_theme review_form 'bootstrap/form_theme.html.twig' %}
        
        {{ form(review_form) }}
        
        {# form_start(review_form) }}
            <div>
                <h3>Foobar</h3>
                {{ form_label(review_form.rating) }}
                {{ form_widget(review_form.rating) }}
            </div>
            {{ form_row(review_form.comment) }}
            {{ form_row(review_form.save) }}
        {{ form_end(review_form) #}
    {% endif %}
{% endblock %}
