{% extends 'bootstrap/layout.html.twig' %}

{% block title %}Liste des équipes{% endblock %}

{% block content %}
    {% for team in teams %}
        <h2>{{ team.name }}</h2>
        {% if team.githubRepository %}
            <p>
                <a href="{{ team.githubRepository }}">
                    {{ team.githubRepository }}
                </a>
            </p>
        {% endif %}
        <table>
            {% for student in students if student.id in team.studentIds %}
                <tr>
                    <td>
                        <img width="50px" src="{{ asset(student.image) }}" />
                    </td>
                    <td>
                        <a href="{{ path('student_detail', {studentId: student.id}) }}">
                            {{ student.firstname }} {{ student.lastname }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Aucun étudiants. 😦</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
